version: '3.8'
services: 


  proxy:
    image: traefik:v2.4.11
    volumes:
      - /etc/localtime:/etc/localtime
      - {{ ssl_cert_dir }}/:/etc/ssl/certs/
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ config_dir }}/certs/:/etc/traefik/certs/
      - {{ data_dir }}/acme/:/etc/traefik/acme/
      - {{ config_dir }}/dynamic/:/etc/traefik/dynamic/
    ports:
      - 80:80
      - 443:443
    command:
      # Logging
      - '--log.level=DEBUG'
      - '--accesslog=true'

      # Enable dashboard
      - '--api=true'
      - '--api.dashboard=true'
      
      # Docker swarm configuration
      - '--providers.docker=true'
      - '--providers.docker.endpoint=unix:///var/run/docker.sock'
      - '--providers.docker.swarmMode=true'
      - '--providers.docker.exposedbydefault=false'
      - '--providers.docker.network={{ docker_network }}'
      - '--providers.docker.watch=true'

      # File provider
      - '--providers.file=true'
      - '--providers.file.directory=/etc/traefik/dynamic'
      - '--providers.file.watch=true'
      
      # Configure entrypoints
      - '--entryPoints.web.address=:80'
      - '--entryPoints.websecure.address=:443'

      # needed to enable TLS, unless a cert-resolver (ACME) is used
      - '--entryPoints.websecure.http.tls=true'

      # Global HTTP -> HTTPS redirect
      - '--entryPoints.web.http.redirections.entryPoint.to=websecure'
      - '--entryPoints.web.http.redirections.entryPoint.scheme=https'

      # disable backend server ssl verification
      - '--serversTransport.insecureSkipVerify=true'

      # Trust X-Forwarded-* Headers from specific IPs
      # https://community.traefik.io/t/how-to-properly-use-x-forwarded-for-in-v2/3834
      - '--entryPoints.web.forwardedHeaders.trustedIPs={{ trusted_ips | join(",") }}'
      - '--entryPoints.websecure.forwardedHeaders.trustedIPs={{ trusted_ips | join(",") }}'

      # Public cert resolver (Let's Encrypt)
      - '--certificatesresolvers.lets-encrypt.acme.httpchallenge=true'
      - '--certificatesresolvers.lets-encrypt.acme.httpchallenge.entrypoint=web'
      - '--certificatesresolvers.lets-encrypt.acme.email={{ acme_email }}'
      - '--certificatesresolvers.lets-encrypt.acme.storage=/etc/traefik/acme/lets-encrypt.json'
      - '--certificatesresolvers.lets-encrypt.acme.caServer={{ acme_url_external }}'

      # Private cert resolver (Step CA)
      - '--certificatesresolvers.step-ca.acme.httpchallenge=true'
      - '--certificatesresolvers.step-ca.acme.httpchallenge.entrypoint=web'
      - '--certificatesresolvers.step-ca.acme.email={{ acme_email }}'
      - '--certificatesresolvers.step-ca.acme.storage=/etc/traefik/acme/step-ca.json'
      - '--certificatesresolvers.step-ca.acme.caServer={{ acme_url_internal }}'
      

    deploy:
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: any
      labels:
        - traefik.enable=true

        # required in swarm
        - traefik.http.services.api@internal.loadbalancer.server.port=8080
        #- traefik.http.routers.dashboard.service=api@internal

        - traefik.http.routers.dashboard.tls.certresolver=step-ca
        
        # router rules must be defined within a single docker label
        - traefik.http.routers.dashboard.rule=Host(`{{ domain }}`)
        
        # basic-auth middleware
        - traefik.http.middlewares.dashboard-auth.basicauth.users={{ htpasswd }}

        # redirect to /dashboard/
        - traefik.http.middlewares.dashboard-redirect.redirectregex.regex=^https://{{ domain | replace('.', '\.') }}$$
        - traefik.http.middlewares.dashboard-redirect.redirectregex.replacement=https://{{ domain }}/dashboard/
        - traefik.http.middlewares.dashboard-redirect.redirectregex.permanent=false

        # assign middlewares (order matters)
        - traefik.http.routers.dashboard.middlewares=dashboard-auth@docker, dashboard-redirect@docker
    networks:
      - {{ docker_network }}

{% if env == 'dev' %}
  demo:
    image: nginxdemos/hello
    deploy:
      labels:
        - traefik.enable=true
        - traefik.http.services.demo.loadbalancer.server.port=80
        - traefik.http.routers.demo.tls.certresolver=step-ca
        - traefik.http.routers.demo.rule=Host(`{{ domain }}`) && PathPrefix(`/demo`)
        - traefik.http.middlewares.demo.stripprefix.prefixes=/demo
        - traefik.http.routers.demo.middlewares=demo@docker
    networks:
      - {{ docker_network }}
{% endif %}

networks:
  {{ docker_network }}:
    external:
      name: {{ docker_network }}
